<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Portfólio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>🪻🪻 Danyellen 🪻🪻</h1>
    <nav>
        <a href="/">Início</a>
        <a href="/projetos">Projetos</a>
        <a href="/contato">Contato</a>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>© 2026 - Danyellen</p>
</footer>

</body>
</html>
